@mixin background {
	/* background-color: #FBD846;
    background-image: -webkit-linear-gradient(#FFE472, #FBD846);
    background-image: linear-gradient(#FFE472, #FBD846); */
    background: linear-gradient(90deg, #FFE472 0%, #F8CC55 100%, #FBD846 100%);
}