$main-color: #FBD846;
$decoration-color: #99CB38;
/* $background-color: linear-gradient(90deg, #FFE472 0%, #F8CC55 100%, #FBD846 100%); */
$colorTop: #eeeeee;
$colorBottom: #222ccc;
$desktope-width: 1140px;
$tablet-width: 768px;
